* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: sans-serif;
  font-size: 1.2rem;
  background-color: #f2f2f2;
}

header {
  background-color: #333;
  color: #fff;
  padding: 1rem;
  text-align: center;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.gif-container {
  margin-bottom: 1rem;
}

.gif-container img {
  max-width: 100%;
  height: auto;
  
}

.button-container {
  display: flex;
  justify-content: center;
}

button {
  padding: 1rem 2rem;
  margin: 0 1rem;
  border-radius: 5px;
  border: none;
  font-weight: bold;
  cursor: pointer;
  transition: transform 0.2s;
}

button:hover {
  transform: scale(1.1);
}

#no-button {
  background-color: #e74c3c;
  color: #fff;
}

#no-button:hover {
  animation: shake 0.5s;
  animation-iteration-count: infinite;
}

@keyframes shake {
  0% {
    transform: translate(0, 0);
  }
  25% {
    transform: translate(-5px, 0);
  }
  50% {
    transform: translate(0, -5px);
  }
  75% {
    transform: translate(5px, 0);
  }
  100% {
    transform: translate(0, 0);
  }
}

#yes-button {
  background-color: #2ecc71;
  color: #fff;
}
#confetti-canvas {
  width: 0%;
  height: 0%;
}

.octo-arm {
  animation: rotateTail 2s ease-in-out infinite;
}

@keyframes rotateTail {
  0% {
    transform: rotate(0);
  }
  20% {
    transform: rotate(20deg);
  }
  40% {
    transform: rotate(0deg);
  }
  60% {
    transform: rotate(-20deg);
  }
  80% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0);
  }
}



@media screen and (max-width: 768px) {
  header {
    font-size: 1.5rem;
  }
  main {
    padding: 1rem;
  }
  .gif-container {
    /* margin-top: 20px; */
    margin-bottom: 0.5rem;
  }
  button {
    padding: 0.5rem 1rem;
    margin: 0.5rem;
    font-size: 1rem;
  }
}
